.profile__image_button {
	position: absolute;
	background-image: url(/src/images/avatar-button.png);
	background-size: 21%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.8);
	border: none;
	opacity: 0;
	border-radius: 50%;
	transition: 0.3s;
  cursor: pointer;
  block-size: 100%;
  inline-size: 100%;
}

.profile__image_button:hover {
  opacity: 1;
}